.user-signup {
	position: relative;
	display: flex;
	justify-content: center;
}

.user-signup form {
	position: relative;
	display: grid;
	width: 60%;
}

.user-signup form button {
	margin: auto;
	width: 50%;
}

.sign-input {
	position: relative;
	display: grid;
	margin-bottom: 20px;
}

.sign-input label {
	font-size: 20px;
}

.sign-input input {
	height: 30px;
}

.errors {
	color: red;
}
